<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="CGI-exe" />
            <add name="FirstFlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\FirstFlaskWebApp\FlaskWebVenv\Scripts\python.exe|E:\FirstFlaskWebApp\FlaskWebVenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="Unspecified" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
    <location path="flaskIIS.py">
        <system.webServer>
            <handlers accessPolicy="Read, Write, Execute, Source, Script" />
        </system.webServer>
    </location>
</configuration>
